@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import './fund-template/variables.scss';

*{
    box-sizing: border-box;
}

body {
    background: $smoke-bg;
    font-family: $font-family-sans-serif;
    margin: 0;
    .main {
        margin-top: 100px;
    }    
}

@import './fund-template/color.scss';
@import './fund-template/button.scss';
@import './fund-template/header.scss';
@import './fund-template/sidebar.scss';
@import './fund-template/images.scss';
@import './fund-template/cards/cards.scss';
@import './fund-template/cards/cardUser.scss';
@import './fund-template/jumbotron.scss';
@import './fund-template/footer.scss';