.btn {
    &.btn-primary {
        background-color: $primary-color;
        color: $white-color;
        border: none;
        &:hover {
            background-color: $primary-states-color;
        }
    }
    &.btn-password-show {
        background-color: $primary-color;
        color: $white-color;
        border: none;
        &:hover {
            background-color: $primary-states-color;
        }
    }
}