@import './variables.scss';
.k-button-group {
    .k-button {
        &:focus {
            border-color: $primary-color ;
            background-color: $primary-color;
        }
        &.k-state-active {
            border-color: $primary-color ;
            background-color: $primary-color;
        }
    }
}
.k-event {
    color: $white-color;
    background-color: $primary-color;
}