@import "./variables.scss";
.fc {
    .fc-button-primary {
        border-color: $primary-color;
        background-color: $primary-color;
        &:hover{
            border-color: $primary-states-color;
            background-color: $primary-states-color;
            cursor: pointer;
        }
        &.fc-button-active, &:focus {
            border-color: $primary-states-color !important;
            background-color: $primary-states-color !important;
        }
    }
    .fc-h-event {
        border: 1px solid $primary-color;
        background-color: $primary-color;
        &:hover {
            cursor: pointer;
        }
    }
    // @media(max-width: 768px) {
    //     .fc-toolbar-chunk {
    //         display: block !important;
    //     }
    // }
}
