.text-primary {
    color: $primary-color !important;
}
.text-success {
    color: $success-color !important;
}

.bg-primary {
    background-color: $primary-color !important;
    color: $white-color !important;
}
.bg-dark {
    background-color: $black-bg;
    color: $white-color;
}