img{
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: $border-radius-small;
    &.imgProduct {
        height: 250px;
    }
}
.img-raised{
    box-shadow: $box-shadow-raised;
}
