.jumbotron {
    position: relative;
    background-color: $primary-color;
    width: auto;
    padding: auto 0;
    height: 400px;
    .jumbo-text {
        margin: 5rem 5rem;
    }
    .hero-image {
        display: none;
    }
    @media (min-width: 1024px) {
        .jumbo-text {
            margin: 10rem 5rem;
        }
        .hero-image {
            display: block;
            position: absolute;
            background-image: url("https://i.ibb.co/XJ6Hyd2/Oreti.png");
            max-width: 100%;
            bottom: 0;
            left: 50%;
            top: 0;
        }
    }
}

@media (min-width: 1024px) {
    .jumbotron {
        height: 700px;
    }
}
