$side-width: 250px;

.sidebar-wrapper {
    position: fixed;
    z-index: 100;
    width: 200px;
    top: 68px;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: #fff;
    -webkit-box-shadow: 6px 7px 10px -5px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: 6px 7px 10px -5px rgba(0, 0, 0, 0.74);
    box-shadow: 6px 7px 10px -5px rgba(0, 0, 0, 0.74);
    transition: all ease 0.5s;
    .side-item {
        transition: all ease 0.5s;
        a {
            padding: 0.75em 1.5em;
            text-decoration: none;
            font-size: 16px;
            color: $dark-color;
            display: block;
            border-bottom: 1px solid rgba(51, 48, 48, 0.255);
            border-top: 1px solid rgba(51, 48, 48, 0.255);
            transition: all ease 0.8s;
            &:hover {
                background: $primary-color;
                color: #fff;
            }
        }
        a.active {
            background: $primary-color;
            color: #fff;
        }
    }
    @media (min-width: 1024px) {
        .toggle-btn {
            justify-content: center;
            svg {
                width: 20%;
            }
        }
        .side-item {
            display: block;
        }
    }
}
.sidebar-wrapper--show {
    transform: translateX(0);
}
.sidebar-wrapper--show {
    transform: translateX(-$side-width);
}
.content-wrapper {
    transition: all 0.5s;
    margin-top: 100px;
    margin-left: 0px;
    padding: 0 1em;
    .toggle-btn {
        cursor: pointer;
        svg {
            float: right;
            width: 25px;
            height: 25px;
        }
    }
}
@media (min-width: 1024px) {
    .sidebar-wrapper {
        position: fixed;
        width: 250px;
    }
    .content-wrapper {
        margin-top: 100px;
        margin-left: $side-width;
        .toggle-btn {
            float: none;
            display: flex;
            align-items: center;
            margin-right: 10px;
            cursor: pointer;
            svg {
                width: 20px;
                height: 20px;
            }
            h4 {
                margin: 0 0 0 5px;
            }
        }
    }
    .content-wrapper--hide {
        margin-left: $side-width;
    }
    .content-wrapper--hide {
        margin-left: 1rem;
    }
}
